<div class="wrapper">
  
  <h1>Lista de Tarefas</h1>

  <div class="novoInput">
    <app-input>
      <input StyledInput 
      placeholder="Adicione uma atividade" 
      #inputAtividade
      (keyup.enter)="incluirAtividade(inputAtividade.value)"
      >
    </app-input>
    <app-button
    (eventoPersonalizado)="incluirAtividade(inputAtividade.value)"
    >
    </app-button>
  </div>

  <div class="container">
    <app-cmp 
    *ngFor="let atividade of atividades; let i = index" 
    (eventoDelete)="deletarAtividade(i,1)"
    >
      <div class="atividade">{{atividade}}</div>
    </app-cmp>
  </div>
   
  <div class="apagarTudo">
    <p> Você tem {{atividades?.length}} atividades pendentes </p>
    <app-button-delete 
    (eventDeleteAll)="deletarTudo(0)" 
    >
    </app-button-delete>
  </div>
  
</div>

